{%- liquid
  if product.metafields.reviews.rating.value != blank
    assign product_rating = product.metafields.reviews.rating.value.rating | times: 1.0 | round: 1
    assign star_product_rating = product_rating | round
  else
    assign product_rating = 0
    assign star_product_rating = 0
  endif

  if product.metafields.reviews.rating_count.value != blank
    assign product_review_count = product.metafields.reviews.rating_count
  else
    assign product_review_count = 0
  endif

  assign product_review_images = ''

  for review in product.metafields.custom.reviews.value
    if review.review_images != blank
      assign review_images_list = review.review_images | split: ','
      for src in review_images_list
        if src != blank
          assign product_review_images = product_review_images | append: src | append: '***'
        endif
      endfor
    endif
  endfor
-%}

<section
        id="reviews"
        class="product-reviews page-width"
        data-section-id="{{ section.id }}"
        data-section-type="product-reviews"
>
  <div class="product-reviews__wrapper">
    <div class="product-reviews__header">
      <div class="product-reviews__header-top">
        <div class="product-reviews__header-left">
          <div class="product-reviews__total-rating">
            <span>{{ product_rating }}</span>

            <div class="product-reviews__product-rating">
              {% render 'star-rating', with rating: star_product_rating, float_rating: product_rating  %}
            </div>
          </div>

          <span>
            {{ 'custom.reviews.based_on_count' | t: count: product_review_count }}
          </span>
        </div>
      </div>

      <div class="product-reviews__header-bottom">
        <div class="product-reviews__image-scroll-container">
          {% assign image_srcs = product_review_images | split: '***' %}

          {% for src in image_srcs %}
            {% if src != blank %}
              {% assign file_extension = src | split: '.' | last | downcase %}
              {% if file_extension != 'heic' %}
                <img
                        class="product-reviews__review-image"
                        src="{{ src | file_img_url: '120x196', crop: 'center' }}"
                        alt="{{ product.title }}"
                        js-product-reviews="image"
                        data-image-index="{{ forloop.index0 }}"
                        loading="lazy"
                />
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
      </div>

      <style>
        .product-reviews__header-bottom {
          overflow: hidden;
          width: 100%;
        }

        .product-reviews__image-scroll-container {
          display: flex;
          overflow-x: auto;
          scrollbar-width: none; /* Firefox */
          -webkit-overflow-scrolling: touch;
          padding-bottom: 10px; /* Add some padding to account for the scrollbar height */
        }

        .product-reviews__image-scroll-container::-webkit-scrollbar {
          display: none; /* WebKit */
        }

        .product-reviews__review-image {
          flex: 0 0 auto;
          margin-right: 4px;
        }

        /* Optional: Add a fading effect to indicate more content */
        .product-reviews__header-bottom::after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          width: 30px;
          background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));
          pointer-events: none;
        }
      </style>
    </div>

    <div class="product-reviews__list">
      <button
              class="
          product-reviews__view-more
          {% if product_review_count <= 3 %}
            is-hidden
          {% endif %}
        "
              js-product-reviews="viewMore"
      >
        {{ 'custom.reviews.view_more' | t }} {% render 'icon-caret' %}
      </button>

      {% assign sorted_reviews = product.metafields.custom.reviews.value | sort: "rating" | reverse %}

      {% for review in sorted_reviews %}
        {% assign review_index = forloop.index0 %}

        <div
                class="
            product-reviews__review
            {% if forloop.index > 3 %}
              is-hidden
            {% endif %}
          "
                js-product-review="review"
        >
          <div class="product-reviews__author-details">
            {% if review.reviewer_name != blank %}
              <span class="product-reviews__author">
                {{ review.reviewer_name }}
              </span>
            {% endif %}

            <span class="product-reviews__verified">
              {% render 'icon-verified' %} {{ 'custom.reviews.verified_buyer' | t }}
            </span>
          </div>

          <div class="product-reviews__review-main">
            <div class="product-reviews__review-top">
              <div class="product-reviews__review-rating">
                {% render 'star-rating', with rating: review.rating %}
              </div>

              {% if review.date_created != blank %}
                <span
                        class="product-reviews__review-date"
                        js-product-review="date"
                >
                  {{ review.date_created }}
                </span>
              {% endif %}
            </div>

            {% if request.host contains '.dk' %}
              <h2 class="product-reviews__review-title">
                {{ review.review_title_da | default: review.review_title }}
              </h2>
              <p>{{ review.review_text_da | default: review.review_text }}</p>
            {% elsif request.host contains '.se' %}
              <h2 class="product-reviews__review-title">
                {{ review.review_title_sv | default: review.review_title }}
              </h2>
              <p>{{ review.review_text_sv | default: review.review_text }}</p>
            {% elsif request.host contains '.no' %}
              <h2 class="product-reviews__review-title">
                {{ review.review_title | default: review.review_title_en }}
              </h2>
              <p>{{ review.review_text | default: review.review_text_en }}</p>
            {% elsif request.host contains '.de' %}
              <h2 class="product-reviews__review-title">
                {{ review.review_title_de | default: review.review_title }}
              </h2>
              <p>{{ review.review_text_de | default: review.review_text }}</p>
            {% elsif request.host contains '.es' %}
              <h2 class="product-reviews__review-title">
                {{ review.review_title_es | default: review.review_title }}
              </h2>
              <p>{{ review.review_text_es | default: review.review_text }}</p>
            {% elsif request.host contains '.fi' %}
              <h2 class="product-reviews__review-title">
                {{ review.review_title_fi | default: review.review_title }}
              </h2>
              <p>{{ review.review_text_fi | default: review.review_text }}</p>
            {% elsif request.host contains '.fr' %}
              <h2 class="product-reviews__review-title">
                {{ review.review_title_fr | default: review.review_title }}
              </h2>
              <p>{{ review.review_text_fr | default: review.review_text }}</p>
            {% elsif request.host contains '.it' %}
              <h2 class="product-reviews__review-title">
                {{ review.review_title_it | default: review.review_title }}
              </h2>
              <p>{{ review.review_text_it | default: review.review_text }}</p>
            {% elsif request.host contains '.nl' %}
              <h2 class="product-reviews__review-title">
                {{ review.review_title_nl | default: review.review_title }}
              </h2>
              <p>{{ review.review_text_nl | default: review.review_text }}</p>
            {% elsif request.host contains '.pl' %}
              <h2 class="product-reviews__review-title">
                {{ review.review_title_pl | default: review.review_title }}
              </h2>
              <p>{{ review.review_text_pl | default: review.review_text }}</p>
            {% elsif request.host contains '.pt' %}
              <h2 class="product-reviews__review-title">
                {{ review.review_title_pt | default: review.review_title }}
              </h2>
              <p>{{ review.review_text_pt | default: review.review_text }}</p>
            {% elsif request.host contains '.ro' %}
              <h2 class="product-reviews__review-title">
                {{ review.review_title_ro | default: review.review_title }}
              </h2>
              <p>{{ review.review_text_ro | default: review.review_text }}</p>
            {% else %}
              <h2 class="product-reviews__review-title">
                {{ review.review_title_en | default: review.review_title }}
              </h2>
              <p>{{ review.review_text_en | default: review.review_text }}</p>
            {% endif %}

            {% if review.review_images != blank %}
              {% assign image_srcs = product_review_images | split: '***' %}
              {% assign image_index = 0 %}

              {% for src in image_srcs %}
                {% if src == review.review_images[0] %}
                  {% assign image_index = forloop.index0 %}
                {% endif %}
              {% endfor %}

              {% assign review_images_list = review.review_images | split: ',' %}
              {% for src in review_images_list %}
                {% if src != blank %}
                  {% assign file_extension = src | split: '.' | last | downcase %}
                  {% if file_extension != 'heic' %}
                    <img
                            class="product-reviews__review-image"
                            src="{{ src | file_img_url: '60x98', crop: 'center' }}"
                            alt="{{ review.review_title }}"
                            js-product-reviews="image"
                            data-image-index="{{ image_index }}"
                            loading="lazy"
                    />
                  {% endif %}
                {% endif %}
              {% endfor %}
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Product Reviews",
  "settings": [],
  "presets": [{
    "name": "Product Reviews",
    "category": "Reviews"
  }]
}
{% endschema %}

{% stylesheet %}
.product-reviews__wrapper {
border-block: 1px solid #F1F1F1;
margin-bottom: 40px;
}

.product-reviews__header {
display: flex;
flex-direction: column;
padding-block: 40px;
}

.product-reviews__header-top {
display: flex;
justify-content: space-between;
}

.product-reviews__header-bottom {
display: flex;
align-items: center;
gap: 4px;
padding-top: 12px;
flex-wrap: wrap;
}

.product-reviews__see-all-photos {
margin-left: 4px;
}

.product-reviews__header-left {
display: flex;
flex-direction: column;
gap: 4px;
}

.product-reviews__total-rating {
color: #4E4E4EBF;
font-size: 48px;
line-height: 57.6px;
display: flex;
gap: 8px;
}



.product-reviews__list {
position: relative;
}

.product-reviews__view-more {
display: flex;
align-items: center;
gap: 4px;
position: absolute;
bottom: -36px;
left: 50%;
transform: translateX(-50%);
font-size: 16px;
border: 1px solid #F1F1F1;
border-top: 0;
color: #4e4e4ebf;
padding: 0.5em 1em;
cursor: pointer;
background-color: transparent;
}

.product-reviews__view-more svg {
width: 12px;
}

.product-reviews__review {
border-top: 1px solid #F1F1F1;
padding-block: 32px;
display: flex;
gap: 48px;
}

.is-hidden {
display: none !important;
}

.product-reviews__author-details {
display: flex;
flex-direction: column;
flex: 1;
max-width: 20%;
}

.product-reviews__author,
.product-reviews__verified {
line-height: 25.6px;
}

.product-reviews__author {
color: #4E4E4E;
}

.product-reviews__verified {
color: #4EBD9C;
display: flex;
align-items: center;
gap: 4px;
}

.product-reviews__verified svg {
width: 24px;
height: 24px;
fill: #4EBD9C;
}

.product-reviews__review-main {
flex: 1;
}

.product-reviews__review-top {
display: flex;
align-items: center;
justify-content: space-between;
margin-bottom: 16px;
}

.product-reviews__product-rating,
.product-reviews__review-rating {
display: flex;
align-items: center;
}

.product-reviews .icon__star {
width: 20px;
height: 20px
}

.icon__star--filled {
fill: #FFBD58;
}

.icon__star--unfilled {
fill: #E5E5E5;
}

.product-reviews__review-title {
margin-top: 0;
}

.product-reviews__review-main p {
line-height: 1.8;
color: #4E4E4EBF;
margin-top: 0;
}

.product-reviews__review-main p:last-child {
margin-bottom: 0;
}

.product-reviews__review-image {
aspect-ratio: 1 / 1;
object-fit: cover;
height: 98px;
width: 60px;
}

@media (max-width: 850px) {
.product-reviews__gallery-image {
max-height: 80vh !important;
max-width: 80vw !important;
}
}
{% endstylesheet %}

{% javascript %}
const viewMoreButton = document.querySelector('[js-product-reviews="viewMore"]');
const reviews = [...document.querySelectorAll('[js-product-review="review"]')];
const dates = [...document.querySelectorAll('[js-product-review="date"]')];
const images = [...document.querySelectorAll('[js-product-reviews="image"]')];

init();

function init() {
setEventListeners();
}

function setEventListeners() {
if (viewMoreButton) {
viewMoreButton.addEventListener("click", handleViewMoreClick);
}

if (images) {
images.forEach((image) => {
image.addEventListener("click", (event) => { handleImageClick(event)} );
});
}
}

function handleViewMoreClick() {
if (!reviews || !viewMoreButton) {
return;
}

let allReviewsShowing = true;
let reviewsShowing = document.querySelectorAll('.product-reviews__review:not(.is-hidden)')?.length;

reviews.forEach((review, index) => {
if (index <= reviewsShowing + 2) {
review.classList.remove('is-hidden');
}

if (review.classList.contains('is-hidden')) {
allReviewsShowing = false
}
});

if (allReviewsShowing) {
viewMoreButton.classList.add('is-hidden');
}
}

function handleImageClick(event) {
console.log('Image clicked:', event.target);
// Implement your custom image click handler here if needed
}
{% endjavascript %}